<html>
  <head>
    <style>
      .container { width: 800px; font-family: Arial, Helvetica, sans-serif; }
      span { margin: 10px 0; display: block; }
    </style>

  </head>
  <body>
    <div class="container">
      <img src="https://i.imgur.com/oUAKMC5.png" />
      <span>Hi, {{name}}</span>

      <br />

      <span>You requested a password change.</span>
      <span>To continue this proccess, go to the link below:
        <a href={{link}}>{{link}}</a>
      </span>

      <span>If you didn't requested this, just ignore the e-mail.</span>

      <strong>Thank you!</strong>

      <h3>Team | <strong>Rent-a-car</strong></h3>
    </div>
  </body>
</html>